<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>Todos os Restaurantes</h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-sm-6 col-xs-12" *ngFor="let restaurant of restaurants">
          <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
        </div>
      </div>
    </section>
  </div>
</div>
